{% extends "base.html" %}
{% set title = "Delete_project" %}

{% block content %}

<form action="" method="post">
    <div class="uk-margin-left uk-width-1-2">
        <h1>
            <a href="/">{{title}}</a>
        </h1>
        <select class="uk-select uk-margin-top uk-margin-bottom" name="delete_project">
            {% for project in projects %}
            <option value={{project.id}}>{{ project.project_name }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="uk-button uk-button-default uk-margin-larger-top">submit</button>
    </div>

</form>

{% endblock %}