{% extends "base.html" %}

{% set title = "registration" %}

{% block content %}

<form method="post">
    <div class="uk-margin-left uk-width-1-2">
        <h1>
            <a href="/">{{title}}</a>
        </h1>
        <label for="Username">Username</label>
        <input name="Username" class="uk-input">
        <label for="Password">Password</label>
        <input name="Password" class="uk-input">
        <button type="submit" class="uk-button uk-button-default uk-margin-top"><span
                uk-icon="icon: user"></span>registration</button>
    </div>
</form>
{% endblock %}